# Build and Gradle
build/
gradle/
.gradle/
#gradle-wrapper.*
#gradlew
#gradlew.bat

# IDE
.idea/
*.iml
.settings/
bin/

# Config
application-local.*
.env
local.properties
external.properties

# Logs and temp
logs/
*.log
tmp/

# OS and editor
.DS_Store
*.swp
*.swo

# Compiled
*.class
*.jar
*.war

# Misc
*.cache
*.diff
*.patch
